<!DOCTYPE html>
<html>

<% include ../partials/head %>

    <body>
        <% include ../partials/header %>

            <section>
                <p>Your video has been converted to audio.</p>
                <p>Experiment with several effects in the editor below.</p>
                <p>You can use <code>Spacebar</code> to play/pause the audio.</p>
            </section>

            <section>
                <div class="box">
                    <div class="audio-player">
                        <div class="left">
                            <button id="play-btn" class="play-btn">
                        <i class="play-btn__icon">
                            <div class="play-btn__mask"></div>
                        </i>
                </div>
                <div class="right">
                    <div class="audio-wrapper" id="player-container" href="javascript:;">
                        <audio id="audio">
                            <source src="/audio/<%= id %>.mp3" type="audio/mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                        </audio>
                    </div>

                    <div class="player-controls scrubber">
                        <p class="track-title"><%= id %></p>
                        <div class="player-time">
                            <small id="start-time">00:00</small>
                            <small id="end-time">00:00</small>
                        </div>
                        <span id="seek-container">
                            <progress id="seek" value="0" max="1"></progress>
                        </span>
                    </div>
                </div>
            </div>

            <h4>Basic controls</h4>
            <div class="controls">
                <div class="knob">
                    <p class="knob-label">Volume</p>
                    <input autocomplete="off" type="range" id="volume" min="0" max="2" value="1" step="0.01">
                    <p class="knob-value" id="volume-text">-</p>
                </div>

                <div class="knob">
                    <p class="knob-label">Pan</p>
                    <input autocomplete="off" type="range" id="pan" min="-1" max="1" value="0" step="0.01">
                    <p class="knob-value" id="pan-text">-</p>
                </div>

                <div class="knob">
                    <p class="knob-label">Tempo</p>
                    <input autocomplete="off" type="range" min="0.5" max="2.0" value="1.0" id="tempo" step="0.25"
                        list="temporange">
                    <p class="knob-value" id="tempo-text">-</p>
                </div>

                <div class="knob">
                    <p class="knob-label">Pitch</p>
                    <input autocomplete="off" type="range" min="0.1" max="2.0" value="1.0" id="pitch" step="0.01"
                        list="pitchrange">
                    <p class="knob-value" id="pitch-text">-</p>
                </div>
            </div>

            <h4>Filter</h4>
            <div class="filter">
                <div class="filter-type">
                    <p>Type</p>
                    <select autocomplete="off" name="filter" id="filter-type">
                        <option value="lowpass">Lowpass</option>
                        <option value="highpass">Highpass</option>
                        <option value="bandpass">Bandpass</option>
                    </select>
                </div>
                <div class="knob">
                    <p class="knob-label">Frequency</p>
                    <input autocomplete="off" type="range" id="frequency" min="20" max="20000" value="20000" step="10">
                    <p class="knob-value" id="frequency-text">-</p>
                </div>
                <div class="knob">
                    <p class="knob-label">Q-factor</p>
                    <input autocomplete="off" type="range" id="q-factor" min="0" max="50" value="0" step="1">
                    <p class="knob-value" id="q-factor-text">-</p>
                </div>
            </div>

            <h4>Effects</h4>
            <div class="effects">
                <div class="delay">
                    <p>Delay</p>
                    <div class="knob">
                        <p class="knob-label">Delay Time</p>
                        <input autocomplete="off" type="range" id="delayTime" min="0" max="5" value="0" step="1">
                        <p class="knob-value" id="delayTime-text">-</p>
                    </div>
                    <div class="knob">
                        <p class="knob-label">Max Delay</p>
                        <input autocomplete="off" type="range" id="maxDelay" min="0" max="10" value="0" step="1">
                        <p class="knob-value" id="maxDelay-text">-</p>
                    </div>
                    <div class="knob">
                        <p class="knob-label">Dry-Wet</p>
                        <button type="button" id="delay-wet"></button>
                        <p class="knob-value" id="delay-wet-text">-</p>
                    </div>
                </div>
                

                <div class="reverb">
                    <p>Reverb</p>
                    <div class="knob">
                        <p class="knob-label">Pre-Delay</p>
                        <input autocomplete="off" type="range" id="pre-delay" min="0" max="5" value="0" step="1">
                        <p class="knob-value" id="pre-delay-text">-</p>
                    </div>
                    <div class="knob">
                        <p class="knob-label">Decay</p>
                        <input autocomplete="off" type="range" id="decay" min="0" max="10" value="1.5" step="0.1">
                        <p class="knob-value" id="decay-text">-</p>
                    </div>
                    <div class="knob">
                        <p class="knob-label">Dry-Wet</p>
                        <input autocomplete="off" type="range" id="reverb-wet" min="0" max="1" value=".8" step="0.1">
                        <p class="knob-value" id="reverb-wet-text">-</p>
                    </div>
                </div>
                <div class="bitcrush">
                    <p>Bitcrush</p>
                    <div class="knob">
                        <p class="knob-label">Bits</p>
                        <input autocomplete="off" type="range" id="bitcrush" min="1" max="8" value="8" step="1">
                        <p class="knob-value" id="bitcrush-text">-</p>
                    </div>
                </div>
            </div>

            <h4>Visualizers</h4>
            <div class="visualizers">
                <div class="viz-row">
                    <div class="waveform">
                        <p>Waveform</p>
                        <canvas id="waveform" width="280" height="60"></canvas>
                    </div>

                    <div class="freqbar">
                        <p>Frequency Spectrum</p>
                        <canvas id="freqbar" width="280" height="60"></canvas>
                    </div>
                </div>
                <div class="spectogram">
                    <p>Spectogram</p>
                    <canvas id="spectogram"></canvas>
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>

    <script src="https://tonejs.github.io/build/Tone.js"></script>
    <script type="module" src="/scripts/player.js"></script>
    <script type="module" src="/scripts/context.js"></script>
    <script type="module" src="/scripts/viz.js"></script>
    <script type="module" src="/scripts/events.js"></script>
</body>

</html>
