<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <% include ../partials/header %>

  <section>
		<h3><%= id %></h3>
	</section>
	
	<section>
		audio
	</section>

	<% include ../partials/footer %>
	<script src="/scripts/audio.js"></script>
</body>

</html>
