<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
	<% include ../partials/header %>

	<section>
		<h3><%= id %></h3>
		<p>Converted video</p>
	</section>

	<section>
		<div class="box">
			<audio controls src="/audio/<%= id %>.mp3">
				Your browser does not support the
				<code>audio</code> element.
			</audio>
		</div>
	</section>

	<% include ../partials/footer %>
	<script src="/scripts/audio.js"></script>
</body>

</html>
