<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <% include ../partials/header %>

  <section>
    <pre>
      <%= message %>

      <%= error.stack %>

      <%= error.stderr %>
    </pre>
  </section>

</body>

</html>
