<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <% include ../partials/header %>

  <section>
    <h2><%= message %></h2>
    <h3><%= error.status %></h3>
    <pre><%= error.stack %></pre>
  </section>

</body>

</html>
