<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>
  <section>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Lorem ipsum</p>
    </div>
    <section>
      <form action="/" method="post">
        <label for="video_url">Video:</label>
        <input type="text" id="video_url" name="video_url">
        <input class="btn" type="submit" value="Submit">
      </form> 
    </section>
</body>

</html>
