<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <% include ../partials/header %>

  <section>
    <p>Welcome to Dionysus.</p>
    <p>Enter a YouTube video URL below.</p>
    
    <section>
      <div class="box">
        <form action="/" method="post">
          <label for="video_url">Video:</label>
          <input type="text" id="video_url" placeholder="https://youtu.be/W8qplIE-6UU" name="videoUrl" autofocus>
          <input class="btn" type="submit" value="Submit">
        </form>
      </div>
    </section>

  <% include ../partials/footer %>
</body>

</html>
