<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Lorem ipsum</p>
    </div>
    <section>
      hello
    </section>
</body>

</html>
